{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}


{% for article in articles %}


<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Titre</th>
      <th scope="col">Content</th>
      <th scope="col">Date</th>
      <th scope="col">auteur</th>
      <th scope="col">categorie</th>
      <th scope="col">nombre de vue</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ article.title }}</td>
      <td>{{ article.content }}</td>
      <td>{{article.Date|date('d/m/y')}}</td>
      <td>{{ article.authorName }}</td>
      <td>{{ article.category }}</td>
      <td>{{article.view}}</td>

    </tr>
  </tbody>
</table>
    {% endfor %}


{# <h2> Les derniers sujets : 
{% for subject in subjects %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Sujet: {{ subject.title }}</h5>
    <h6 class="card-subtitle mb-2">Posté le {{ subject.published|date('d/m/y')}} à {{ subject.published|date('H:i')}}</h6>
    <p class="card-text">{{subject.content}}</p>
    <a href="#" class="card-link">Voir le sujet</a>
  </div>
</div>
{% endfor %} #}

{% endblock %}
